<div class="container">
    <div class="espacio"></div>
    <h1 align="center">Productos</h1>
    <div class="espacio"></div>   
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Categoria</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.id }}</td>
          <td>{{ producto.nombre_producto }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.categoria_nombre }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>
            <a class="btn btn-primary nbsp" href="#" [routerLink]="['/producto/', producto.id, 'view']">Ver</a>
            <a class="btn btn-primary nbsp" href="#" [routerLink]="['/producto/', producto.id, 'edit']">Editar</a>
            <button type="button" class="btn btn-primary" (click)="deleteProducto(producto.id)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="espacio"></div>
    <a href="#" routerLink="/producto/create/" class="btn btn-success">Crear nuevo producto</a>
 </div>