<div class="container">

    <div align="center" *ngIf="this.cargado">

        <div class="card text-dark bg-light mb-3 contenedor">
          <div class="card-header">Datos</div>
          <div class="card-body">
            <div>
                <strong>ID:</strong>
                <p>{{ categoria.id }}</p>
            </div>
           
            <div>
                <strong>Nombre:</strong>
                <p>{{ categoria.nombre }}</p>
            </div>
           
            <div>
                <strong>Descripción:</strong>
                <p>{{ categoria.descripcion }}</p>
            </div>
          </div>
        </div>

        <div class="espacio"></div>

        <a href="#" routerLink="/categoria/index" class="btn btn-primary">Atras</a>

    </div>
   
</div>